.toots {
  max-width: 400px;
  list-style: none;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

.toot {
  border: 1px solid #ccc;
  padding: 1rem;
}

.toot .user {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 0.25rem;
}

.toot .avatar {
  float: left;
  margin-right: 0.5rem;
}

.toot .display-name {
  font-weight: bold;
  display: block;
}

.toot .username {
  display: block;
  float: left;
  margin-right: 1em;
}

.toot .permalink {
  text-decoration: none;
  display: block;
  color: #ccc;
}

.toot .body a {
  overflow-wrap: anywhere;
}

/* Weird trick to keep the text in the page but not display it. */
.toot .body .invisible {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toot .body .ellipsis::after {
  content: "…";
}
